*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(68, 67, 67);
}
.item{
    background-color:rgb(221, 221, 140) ;
    border: 2px solid white;
    border-radius: 10px;
}
#container{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 75vh;
    border: 2px solid white;
    border-radius: 10px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}