* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
   height: 100%;
   padding: 2vw;
}

/* ===== GRID LAYOUT ===== */
main {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: black;

  grid-template-columns: 1fr 1.6fr 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "bento1 bento2 bento3"
    "bento4 bento2 bento3"
    "bento4 bento5 bento6";

  gap: 16px;
  padding: 16px;
}

/* ===== COMMON BENTO STYLE ===== */
section {
  overflow: hidden;
  border-radius: 28px;
  position: relative;
}

/* ===== IMAGE BEHAVIOUR ===== */
section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fill the section fully without gaps */
}

/* ===== GRID AREAS ===== */
#bento1 { grid-area: bento1; }
#bento2 { grid-area: bento2; }
#bento3 { grid-area: bento3; }
#bento4 { grid-area: bento4; }
#bento5 { grid-area: bento5; }
#bento6 { grid-area: bento6; }

/* ===== SHAPE CONTROL ===== */
#bento1, #bento6 {
  aspect-ratio: auto;        /* square */
}

#bento2 {
  aspect-ratio: auto;        /* tall hero */
}

#bento3, #bento4 {
  aspect-ratio: auto;        /* portrait */
}

#bento5 {
  aspect-ratio: auto;       /* wide */
}
