*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Machina", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
:root{
    --primary-color: #e3e3e3;
    --secondary-color: #2ecc71;
    --text-color: #000000;
    --background-color: #262626;
}
@font-face {
    font-family: "Machina";
    src: url("NeueMachina-Regular_DQCmjH1st.ttf") format("truetype");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
.card {
  width: 300px;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  display:flex ;
  flex-direction: column;
  justify-content:center;
  gap:20px;
}
.photo {
  position: relative;
  width: 150px;
  height: 150px;
  background-image: url(https://i.pinimg.com/1200x/ba/d6/e5/bad6e5e272e273cece9e96a861a68f4f.jpg);
  background-size:cover;background-position: center;
  border-radius: 50%;
  left:50%;
  transform: translateX(-50%);
}
.btn {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}