*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
@mixin wh{
  width:100%;
  height: 70px;
}
header{
  background-color: #000000;
  @include wh;
  display: flex;
  justify-content: space-around;
      #wholelogo{
            display: flex;
            gap:20px;
            padding-left: 1rem;
            }
      #logo{
            width:40px;
            height: auto;
            padding-top: 1rem;
            }
      img {
            width: 100%;
            height: auto;
          }
      a {
          text-decoration: none;
          color: white;
          padding-top: 1.5rem;
        }
      .btn{
          display: flex;
          justify-content: center;
          padding-top: 1.5rem;
      }

}