:root{
    /* --pri:#30364F; */
    --pri:#EAEFEF;
    /* --sec:#ACBAC4; */
    --sec:#BFC9D1;
    /* --tri1:#E1D9BC; */
    --tri1:#25343F;
    /* --tri2:#F0F0DB; */
    --tri2:#FF9B51;
    --red:rgb(157, 7, 7);
}
@font-face {
    font-family: "Regular";
    src: url(./fonts/poppins.regular.ttf);
}
@font-face {
    font-family: "Light";
    src: url(./fonts/poppins.extralight.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(./fonts/poppins.bold.ttf);
}
@font-face {
    font-family: "Thin";
    src: url(./fonts/poppins.thin.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Bold";
  color:var(--tri2);
  background-color: var(--tri1);

}

/* Main page css */

nav{
    height: 60px;
    width: 100%;
    background-color: var(--tri1);
}
section.allElems{
  width: 100%;
  height: 100%;
  background-color: var(--tri1);
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 20px;
  font-family: "Bold";
  /* position: relative; */
}
.elems{
  position: relative;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  background-color:rgb(57, 57, 57);
  overflow: hidden;
  transition: all ease 3s;
}
.elems img{
  width: 100% ;
  height: 100%;
  object-fit: cover;
}
.elems>h2{
  position: absolute;
  bottom: 10px;
  right: 10px;
  mix-blend-mode:luminosity;
  font-size: 2.4rem;
  /* -webkit-text-stroke: 1px var(--tri1); */
  text-shadow: 2px 2px 5px black;
  
}
.elems:active{
  transform: scale(1.7);
}
section.fullElems{
  width: 100%;
  height: 100%;
  display: none;
  background-color: var(--tri1);
  position: absolute;
  left: 0px;
  top:0px;
  color: var(--sec);
  padding: 40px;
  font-size: 2rem;
}

/* To do */

section.fullElems .todolist-container{
  display: flex;
  flex-direction: column;
  gap:40px;
}
.fullElems .todolist-container .back-btn{
  display: flex;
  justify-content:space-between;
  justify-items: stretch;
  align-items: end;
  width:100%;
  height: 100px;
  background-color:whitesmoke;
  border-radius: 30px;
  border:none;
  padding:0px 40px;
}
.fullElems .todolist-container .back-btn .ri-close-circle-fill{
  color:var(--tri2);
  transition:all ease 3s;
  transform-origin: center;
  color: var(--red); 
  font-size: 6rem;
  /* new thin */
}
.fullElems .todolist-container .back-btn .ri-close-circle-fill:active{
  transform: scale(1.6);
}
.fullElems .todolist-container .back-btn h1{
  font-size: 4rem;
  color:var(--tri2);
}
.fullElems .todolist-container .task-app{
  display: flex;
  gap:100px
}
.fullElems .todolist-container .task-app .task-form {
    width: 500px;
    height: 600px;
    background-color: var(--sec);
    display: flex;
    padding: 40px;
    border-radius: 30px;
    display: flex;
   justify-content: center;
  
}
.fullElems .todolist-container .task-app .task-form form{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap:20px;
}
.fullElems .todolist-container .task-app .task-form form #task-input{
  width: 400px;
  height: 80px;
  padding: 10px;
  font-size: 30px;
  font-family:"Light";
  border-radius: 20px;
  border:0px none ;
}
.fullElems .todolist-container .task-app .task-form form .task-checkbox-div{
  display: flex;
  justify-content: start;
  gap:20px
}
.fullElems .todolist-container .task-app .task-form form .task-checkbox-div #task-check{
  width: 40px;
  height: 40px;
  cursor:pointer;
}
.fullElems .todolist-container .task-app .task-form form .task-checkbox-div label{
  font-size: 30px;
  color:#25343F;
  font-family: "Light";
}
.fullElems .todolist-container .task-app .task-form form textarea{
  width: 400px;
  height: 550px;
  padding: 10px;
  font-size: 30px;
  font-family:"Light";
  border-radius: 20px;
  border:0px none ;
}
.fullElems .todolist-container .task-app .task-form form .addTask{
  padding: 14px 80px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* font-family: "Regular";
   */
   font-family: "Light";

  background: linear-gradient(135deg,#6a5af9,#836dff);
  color: white;

  transition: all 0.25s ease;

  box-shadow: 
  0 4px 10px rgba(0,0,0,0.15),
  0 2px 4px rgba(0,0,0,0.1);

}

.fullElems .todolist-container .task-app .task-form form .addTask:hover{
  transform: translateY(-3px);
  
  box-shadow:
  0 12px 20px rgba(0,0,0,0.2),
  0 6px 8px rgba(0,0,0,0.15);
}

.fullElems .todolist-container .task-app .task-form form .addTask:active{
  transform: translateY(0px);
  box-shadow:
  0 4px 8px rgba(0,0,0,0.2);
}
.fullElems .todolist-container .task-app .task-list{
    width: 100%;
    height: 600px;
    background-color: var(--sec);
    display: flex;
    padding: 30px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    overflow:auto;
}

.fullElems .todolist-container .task-app .task-list::-webkit-scrollbar{
  display: none;
}
.fullElems .todolist-container .task-app .task-list .task-item{
    width:98%;
    height: 80px;
    border-radius: 20px;
    background-color: #6a5af9;
    padding-left:30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.fullElems .todolist-container .task-app .task-list .task-item input{
  width:40px;
  height:40px;
  cursor:pointer;
}
.fullElems .todolist-container .task-app .task-list .task-item .task-title{
  font-size: 2.7rem;
  color:aliceblue;
  font-family: "Regular";
}
.task-item{
  transition: 
  opacity 0.35s cubic-bezier(0.22,1,0.36,1),
  transform 0.35s cubic-bezier(0.22,1,0.36,1),
  margin 0.35s cubic-bezier(0.22,1,0.36,1);
}

.task-item.fade{
  opacity:0;
  transform: translateY(-20px);
  margin-bottom:-80px;
}
.no-task{
  color:var(--red);
  font-family: "Light";
}

/* Planner Css */
.fullElems .planner-container .back-btn{
  display: flex;
  justify-content:space-between;
  justify-items: stretch;
  align-items: end;
  width:100%;
  height: 100px;
  background-color:whitesmoke;
  border-radius: 30px;
  border:none;
  padding:0px 40px;
}
.fullElems .planner-container .back-btn .ri-close-circle-fill{
  color:var(--tri2);
  transition:all ease 3s;
  transform-origin: center;
  color: var(--red); 
  font-size: 6rem;
  /* new thin */
}
.fullElems .planner-container .back-btn .ri-close-circle-fill:active{
  transform: scale(1.6);
}
.fullElems .planner-container .back-btn h1{
  font-size: 4rem;
  color:var(--tri2);
}

.planner-container h2 {
    font-size: 70px;
}

.planner-container .day-planner {
    background-color: var(--sec);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* webkitscrollbar-width: none; Firefox */
    scrollbar-width: none; /* Firefox */
}

.planner-container .day-planner .day-planner-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p {
    position: absolute;
    top: 12%;
    left: 2%;
    color: var(--tri1);
    font-size: 16px;
}

.day-planner .day-planner-time input {
    padding: 20px 45px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 35px;
    padding-top: 34px;
    outline: none;
}
