*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Machina";
}

html,
body {
  width: 100%;
  height: 100%;
}
:root{
    --primary-color: #920909;
    --secondary-color: #efefef;
    --text-color: #ffffff;
    --background-color: cyan;
}
@font-face {
    font-family: "Machina";
    src: url("KASTROO.woff") format("woff");
}
body{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.story{

    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    border-bottom: #920909 solid 2px;
    font-size: 2rem;
    color: var(--text-color);
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.story::-webkit-scrollbar {
    display: none;
}
.profile{
    width: 70px;
    height: 70px;
    background-color: var(--secondary-color);
    border: #920909 solid 2px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 4px;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#full{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position: center;
    position: absolute;
    display: none;
}